.footer__line {
        width: 100%;
        height: 2px;
        background-color: rgba(#5C5C5C, 0.4);

}

footer {
    a {
        text-decoration:none;
        color:#5c5c5c;
    }
    font-family:$font-1;
    color:#5C5C5C;
}